<section id="portfolio-section">
  <div class="row">
    <div class="col-lg-5">
      <div class="wrapper-project myagonism-project">
        <img class="img-fluid" src="./app/images/portfolio/myagonism.png" alt="myagonism">
      </div>
    </div>
    <div class="col-lg-7">
      <div class="wrapper-project coach-agenda-project">
        <img class="img-fluid" src="./app/images/portfolio/coach-agenda.png" alt="coach-agenda">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="wrapper-project sbl-project">
        <img class="img-fluid" src="./app/images/portfolio/sbl.png" alt="safety-bio-life">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project revolution-project">
        <img class="img-fluid" src="./app/images/portfolio/unicredit-revolution.png" alt="unicredit-revolution">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project dealer-project">
        <img class="img-fluid" src="./app/images/portfolio/unicredit-dealer.png" alt="unicredit-dealer">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="wrapper-project sir-project">
        <img class="img-fluid" src="./app/images/portfolio/sir.png" alt="sir">
      </div>
    </div>
    <div class="col-lg-5">
      <div class="wrapper-project jolly-project">
        <img class="img-fluid" src="./app/images/portfolio/jolly.png" alt="jolly">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="wrapper-project fisios-project">
        <img class="img-fluid" src="./app/images/portfolio/fisios.png" alt="fisios">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project paparelli-project">
        <img class="img-fluid" src="./app/images/portfolio/paparelli.png" alt="paparelli">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project demasteel-project">
        <img class="img-fluid" src="./app/images/portfolio/demasteel.png" alt="demasteel">
      </div>
    </div>
  </div>

</section>
