<section id="portfolio-section">

  <!-- <div class="row">
    <a *ngFor="let project of projects" [ngClass]="project.label" class="col-lg-4">
      <div class="wrapper-project" >
        <img class="img-fluid" src="{{project.url}}" alt="imgage-project">
      </div>
    </a>
  </div>-->

  <div class="row">
    <div class="col-lg-5">
      <div class="wrapper-project myagonism-project">
        <img alt="{{projects[0].name}}" class="img-fluid" src="{{projects[0].url}}">
      </div>
    </div>
    <div class="col-lg-7">
      <div class="wrapper-project coach-agenda-project">
        <img alt="{{projects[1].name}}" class="img-fluid" src="{{projects[1].url}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="wrapper-project sbl-project">
        <img alt="{{projects[2].name}}" class="img-fluid" src="{{projects[2].url}}">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project revolution-project">
        <img alt="{{projects[3].name}}" class="img-fluid" src="{{projects[3].url}}">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project dealer-project">
        <img alt="{{projects[4].name}}" class="img-fluid" src="{{projects[4].url}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="wrapper-project sir-project">
        <img alt="{{projects[5].name}}" class="img-fluid" src="{{projects[5].url}}">
      </div>
    </div>
    <div class="col-lg-5">
      <div class="wrapper-project jolly-project">
        <img alt="{{projects[6].name}}" class="img-fluid" src="{{projects[6].url}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="wrapper-project fisios-project">
        <img alt="{{projects[7].name}}" class="img-fluid" src="{{projects[7].url}}">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project paparelli-project">
        <img alt="{{projects[8].name}}" class="img-fluid" src="{{projects[8].url}}">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="wrapper-project demasteel-project">
        <img alt="{{projects[9].name}}" class="img-fluid" src="{{projects[9].url}}">
      </div>
    </div>
  </div>

</section>
