<section id="footer-section">
  <div class="wrapper-footer">
    <div class="wrapper-info">
      <h3>Let's work together?</h3>
      <a href="mailto:hello@giovannisegagni.com?subject=Hello!"><img class="mail-open" src="../app/images/mail-open.svg"></a>
      <div class="social-wrapper">
        <a href="https://github.com/eyegio" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/giovannisegagni" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="skype:g.segagni.82?chat" target="_blank"><i class="fa fa-skype" aria-hidden="true"></i></a>
        <a href="https://twitter.com/GiovanniSegagni" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/eyegio/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/giovannisegagni" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zm" [scrollwheel]="mapW" [styles]="style">
  </sebm-google-map>

  <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="800" href="#intro-section" class="btn btn-top">TOP</a>

</section>
