<section id="intro-section">
  <div class="container">
    <div class="col-12">
      <div class="wrapper-intro">
        <img class="img-fluid" src="../assets/images/g.svg" alt="G" [@rotateAnimation]="show">
        <img class="io" src="../assets/images/io_home.svg" alt="io">
        <div class="slogan">
          <h3>HELLO, I’M <br>GIOVANNI SEGAGNI</h3>
          <p class="subtitle">FRONTEND DEVELOPER / UX-UI DESIGNER</p>
        </div>
        <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="800"*ngIf="show" [@enterAnimation]="show" href="#portfolio-section" class="btn btn-portfolio">Take a look at my portfolio</a>
      </div>
    </div>
  </div>
</section>
